

<div class="text-center">
  <h1><%= @seoul.name %></h1>
  <i><%= @seoul.address %></i>
  <br /><br />
  <p><%= @seoul.description %></p>
</div>
  <hr />


<!-- photo -->
<h2 class="pull-left">Photos</h1>   &nbsp;&nbsp;
<!-- Button trigger modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#myPhotoModal">
  Add a photo
</button>
<div class="modal fade" id="myPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add a photo</h4>
      </div>
      <%= simple_form_for @photo, url: seoul_photos_path(@seoul) do |p| %>
        <div class="modal-body">
          <%= p.input :picture %><br />
          <%= p.input :caption %><br />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= p.submit "Add a Photo", class: 'btn btn-primary' %>
        <% end %>
        </div>
      
    </div>
  </div>
</div>

<div class="photo-booyah-box">
<% @seoul.photos.each do |photo| %>
<td><%= photo.picture %></td>
 <%= image_tag photo.picture_url(:thumb), class: 'img-responsive' %><br />
 <%= photo.caption %>
<% end %>
</div>
<hr />




<!-- comment --><!-- comment --><!-- comment -->
<h2>Comments</h2>
<div class="comments">    
  <% @seoul.comments.each do |comment| %>
    <div class="comment">
      <span class="comment_handle">
        <%= comment.user.email %> :
      </span>
      <%= comment.message %>
    </div>
    <% end %>
    <br />
    <h4>Add a comment</h4>
    <%= simple_form_for @comment, url: seoul_comments_path(@seoul) do |f| %>
    <%= f.input :message %>
    <%= f.submit 'Add a comment', class: 'btn btn-primary pull-right' %>
    <% end %>
</div>
<br />
<hr />


<!-- map -->
<div class="show-booyah-box col-xs-10 col-xs-offset-1">
  <h2>Location</h2> <br />
  <% if @seoul.latitude.present? && @seoul.longitude.present? %>
<script>

function initMap() {
  var myLatLng = {lat: <%= @seoul.latitude %>, lng: <%= @seoul.longitude %>}; 

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: '<%= @seoul.name %>'
  });
}
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>
<div id="map"></div>
<% end %>
</div>